/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-color: #5F021F;
    background-image: url("background1.png");
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
}

.container {
    margin: 10% auto;
}

button {
    background-color: #fff;
    color: #000;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

form {
    margin-top: 20px; /* Add space above the form */
}

label {
    display: block;
    margin-bottom: 8px; /* Add space between labels and inputs */
}

input {
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%; /* Make input width 100% of the container */
    box-sizing: border-box; /* Include padding and border in the input's total width */
}


#countdownOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity as needed */
    display: none;
}

#countdownDisplay {
    color: white; /* Set the text color to white */
    font-size: 36px; /* Adjust the font size as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
